@font-face {
    font-family: 'Avenir-Roman';
    src: url('./fonts/Avenir-Roman.eot');
    src: url('./fonts/Avenir-Roman.woff2') format('woff2'),
         url('./fonts/Avenir-Roman.woff') format('woff'),
         url('./fonts/Avenir-Roman.ttf') format('truetype'),
         url('./fonts/Avenir-Roman.svg#Avenir-Roman') format('svg'),
         url('./fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }

html {
  scroll-behavior:  smooth;
  font-family: 'Avenir-Roman', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #0D0712;
    color: #fff;
    font-family: 'Avenir-Roman',sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    line-height: 1.2;
    font-size: 40px;
    font-weight: 500;
}

h2, h3, h4, h5, p {
    margin: 0 0 24px;
}

h3 {
    font-size: 28px;
    line-height: 1.2;
}

p {
    line-height: 1.5;
    color: #466280;
    font-size: 16px;
}

a {
    color: #fff;
    text-decoration: none;
}
#menuNav {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 40px;
}

@media only screen and ( min-width: 768px ){
    body {
        font-size:  17px;
    }
}

@media only screen and ( min-width: 480px ) and ( min-width: 768px ){
    body {
        font-size:  15px;
    }
}

@media only screen and ( min-width: 470px ) {
    body {
        font-size:  14px;
    }
}

@media screen and (max-width: 768px) {
    #menuBar {
        position: absolute;
        z-index: 1;
        left: 0px;
        top: 60px;
        height: 230px;
        max-height: 230px;
        width: 100%;
        display: flex;
        background-color: #0D0712;
        flex-direction: column;
        font-size:  14px;
    }

    #menuBar a{
       margin: 10px;
       font-size: 25px;
       border-bottom: 1px solid #263044;
    }

    #menuNav {
        display: none;
    }
 }
